@font-face {
    font-family: "opensans";
    src: url('Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'nasalization';
    src: url('../asset4/nasalization-rg.ttf');
}
.align {  
   width: 100% ;
   text-align: center;
}
header {
font-family: 'nasalization';
color: #27d1ff;
text-align: center;
height: 150px;
font-weight: bold;
width: 100%;
background-image: url('../asset4/texture-header.jpg');
height: 150px;
text-align: center;
}
body
{
    font-family: "opensans";
    font-size: 14px;
    background-color: #f2f2f2;
    text-align: center;
    width: 810px;
    margin: auto;

}
main {
    max-width: 810px;
    border: darkgoldenrod 2px solid; 
    text-align: center;
    word-wrap: normal;
}

.navigation {
    display: inline-block;
    background-color: #2e1f30;
    padding-right: 50px;
    margin: 0;
    text-align: right;
    color: white;
}
a {
    color: white;
}

a:active{
    color:white; ;
    font-style: bold;
}

footer {

}
.main2 {
    src:'asset4/2.jpg';
    float: left;
    src:'asset4/22ee25f8e3_50030449_fotolia-25828130-s-page42.jpg';
   float: right;
}
p{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h2{
    text-shadow: #e6e6e6;
}

table {
    border: medium solid #000000;
    width: 50%;
    }
    td, th {
    border: thin solid #6495ed;
    width: 50%;
    }
